/*Styles for the main page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 100vh;
    background: linear-gradient(to right top, #b33300, #ff8800);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 85vh;
    width: 85%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2));
    border-radius: 2rem;
    backdrop-filter: blur(30rem);
}
.slidebtn-container {
    display: flex;
}
.search-bar {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    height: 3rem;
    padding-top: 20px;
}
.search{
    width: 95%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2));
    border: none;
    border-radius: 4rem;
    outline: none;
    font-size: 25px;
    color: grey;
    padding-left: 1%;
}
.btn {
    color: grey;
    position: relative;
    left: -25px;
    top: 4px;
}
.results-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.title-container {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    border: black;
}
.title-container h2 {
    font-weight: bolder;
    color: #303030;
    padding-top: 4px;
    font-size: 60px;
}
.date-container {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
.date-container h2 {
    font-weight: bolder;
    color: #303030;
    padding-top: 4px;
    font-size: 60px;
}
.director-container {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}
.director-container h2 {
    font-weight: bolder;
    color: #303030;
    padding-top: 4px;
    font-size: 60px;
}
.actors-container {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
}
.actors-container h2 {
    font-weight: bolder;
    color: #303030;
    padding-top: 4px;
    font-size: 60px;
}
.result-grid {
    font-size: 20px;
    color: #303030;
}
hr {
    color: #303030;
    background-color: #303030;
    
}

.slide{
    position: relative;
    height: 500px;
    width: 1000px;
    border: black;
    text-align: center;
    border-style: double;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
}
.slide-container {
    display: grid;
    grid-template-columns: max-content;
    border: black;
}

.slideshow h1 {
    font-weight: bolder;
    color: #0c0c0c;
    font-size: 60px;
}
