<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <title>Movie Web App</title>
</head>
<body>
  <main>
    <section class="glass">
        <div class="search-bar">
            <input type="text" id="name" class="search" placeholder="Search for an actor or director...">
            <a class="btn"><i class="fas fa-search" (click)= allInfo()></i></a>
        </div>
        <div class="slidebtn-container">
          <p class="result-grid" style="padding-right: 2rem;padding-left: 3rem;">Click the camera button to see results in a slide presentation</p>
          <a href="#slideshow" class="btn-slide" style="color: #303030;"><i class="fas fa-video"></i></a>
        </div>
        <div class="results-container" id="result-table">
          <div class="title-container">
           <h2 class="">Title</h2>
           <li *ngFor="let movie of data" style="list-style-type: none;">
             <p class="result-grid" style="padding-top: 5px;">{{ movie.title }}</p>
             <hr>
           </li>
          </div>
          <div class="date-container">
           <h2 class="">Release Date</h2>
           <li *ngFor="let movie of data" style="list-style-type: none;">
             <p class="result-grid" style="padding-top: 5px" *ngIf="movie.release_date === undefined">Not Found</p>
             <p class="result-grid" style="padding-top: 5px" *ngIf="movie.release_date.length==0">Not Found</p>
             <p class="result-grid" style="padding-top: 5px" *ngIf="movie.release_date">{{ movie.release_date }}</p>
             <hr>
           </li>
          </div>
          <div class="director-container">
           <h2 class="">Director</h2>
           <li *ngFor="let director of movieDirector" style="list-style-type: none;">
             <p class="result-grid" style="padding-top: 5px;">{{ director.name }}</p>
             <hr>
           </li>
          </div>
          <div class="actors-container">
           <h2 class="">Main Cast</h2>
           <li *ngFor="let actors of actors; let i=index" style="list-style-type: none;">
             <p class="result-grid" style="padding-top: 5px;">{{ actors[0] }},{{ actors[1] }},{{ actors[2] }}</p>
             <hr>
           </li>
          </div>
        </div>
    </section>
    <br>
    <section class="slideshow" id="slideshow">
      <h1 class="slide-title">Slide Presentantion</h1>
      <br>
      <div *ngFor="let movie of data, let i=index" class="slide-container" style="list-style-type: none;">
        <div class="slide">
          <p class="">Title: {{ movie.title }}</p>
          <p class="">Release Date: {{ movie.release_date }}</p>
          <p class="">Director: {{ movieDirector[i].name }}</p>
        </div> 
      </div>
    </section>
  </main>
   <!-- <section class="homepage">
     <div class="search-container">
       <input type="text" class="search-box" id="name" placeholder="Search for an actor or a director... ">
       <a href="#results" class="btn"><i class="fas fa-search fa-2x" (click)= allInfo()></i></a>
     </div>
   </section>
   <section class="results" id="results">
     <h1 class="title-results">Search Results</h1>
     
     <br>
     <div class="results-container">
       <div class="title-container">
        <h3 class="">Title</h3>
        <li *ngFor="let movie of data" style="list-style-type: none;">
          <p class="movie-title" style="padding-top: 5px;">{{ movie.title }}</p>
          <hr>
        </li>
       </div>
       <div class="date-container">
        <h3 class="">Release Date</h3>
        <li *ngFor="let movie of data" style="list-style-type: none;">
          <p class="movie-date" style="padding-top: 5px;">{{ movie.release_date }}</p>
          <p style="padding-top: 5px" *ngIf="movie.release_date === undefined">Not Found</p>
          <p style="padding-top: 5px" *ngIf="movie.release_date.length==0">Not Found</p>
          <p style="padding-top: 5px" *ngIf="movie.release_date">{{ movie.release_date }}</p>
          <hr>
        </li>
       </div>
       <div class="director-container">
        <h3 class="">Director</h3>
        <li *ngFor="let director of movieDirector" style="list-style-type: none;">
          <p class="movie-director" style="padding-top: 5px;">{{ director.name }}</p>
          <hr>
        </li>
       </div>
       <div class="actors-container">
        <h3 class="">Main Cast</h3>
        <li *ngFor="let actors of actors; let i=index" style="list-style-type: none;">
          <p class="movie-director" style="padding-top: 5px;">{{ actors[0] }},{{ actors[1] }},{{ actors[2] }}</p>
          <hr>
        </li>
       </div>
     </div>
   </section>
   <br>
   <section class="slideshow" id="slideshow">
     <h1>Slide Presentantion</h1>
     <div *ngFor="let movie of data, let i=index" class="slide-container" style="list-style-type: none;">
      <div class="slide">
        <p class="">Title: {{ movie.title }}</p>
        <p class="">Release Date: {{ movie.release_date }}</p>
        <p class="">Director: {{ movieDirector[i].name }}</p>
      </div> 
     </div>
   </section> -->
</body>
</html>


<router-outlet></router-outlet>